@model BooksManager.Infrastructure.ViewModels.BookViewModel

<h1>Biblioteca</h1>
<a class="btn btn-primary" asp-action="CreateAuthorPage">Gerenciar Autores</a>
<a class="btn btn-primary" asp-action="Bookshelf">Estante</a>
<h2>Cadastrar Livro</h2>
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ISBN" class="control-label"></label>
        <input asp-for="ISBN" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AuthorId" class="control-label"></label>
        <select asp-for="AuthorId" asp-items='new SelectList(Model.Authors, "Id", "FullName")' class="form-control">
            <option value="">Selecione um autor</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>  
</form>